<app-page-header>
  <div *ngIf="!(isLoading$ | async)" class="col-12">
    <div class="row">
      <div class="col-auto">
        <img class="movie-shadow-box" [src]="'https://image.tmdb.org/t/p/original/' + movieData.poster_path" height="200" style="border-radius: 8%;">
      </div>
      <div class="col-md-9 col-sm-12">
        <div>
          <h1 class="text-white">{{ movieData.title }} <small>({{ movieData.release_date | date: 'yyyy' }})</small> </h1>
        </div>
        <div style="width: 176px;">
          <div class="progress-wrapper">
            <div class="progress-info">
              <div class="progress-label">
                <span>Popularidad</span>
              </div>
              <div class="progress-percentage">
                <span>{{ movieData.popularity }}</span>
              </div>
            </div>
            <div class="progress">
              <!-- <div class="progress-bar bg-default" role="progressbar" [aria-valuenow]="movieData.popularity" aria-valuemin="0" aria-valuemax="100" [ngStyle]="width movieData.popularity" style="width: 60%;"></div> -->
            </div>
          </div>
        </div>
        <div class="text-white">
          <span>{{ listGenres(movieData?.genres) }} </span>
        </div>
      </div>
    </div>
  </div>
</app-page-header>
<app-page-body>
  <app-loading *ngIf="(isLoading$ | async)"></app-loading>
  <div class="pr-6 pl-6" *ngIf="!(isLoading$ | async)">
    <div class="row justify-content-center pt-3 pb-3">
      <h2>Reparto</h2>
    </div>
    <div class="row">
        <div *ngFor="let cast of movieCast" class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-xs-12 p-4">
          <div class="card movie-shadow-box">
            <img [src]="'https://image.tmdb.org/t/p/original/' + cast.profile_path" class="card-img-top">
            <div class="card-body pl-2">
              <h5 class="card-title mb-2">{{ cast.name }}</h5>
              <h6>{{ cast.character }}</h6>
            </div>
          </div>
        </div>
    </div>
  </div>
</app-page-body>