<!-- Page Header -->
<app-page-header>
  <div class="col-4">
    <input type="text"
      appDelayInput
      class="form-control form-control-sm"
      placeholder="Buscar"
      [(ngModel)]="searchText"
      (delayedInput)="search()">
  </div>
</app-page-header>
<!-- Page Body -->
<app-page-body>
  <app-loading *ngIf="(isLoading$ | async)"></app-loading>
  <div *ngIf="!(isLoading$ | async)">
    <p-table *ngIf="(moviesList$ | async).length > 0"
      [value]="moviesList$ | async"
      [rows]="10"
      (onRowSelect)="edit($event)"
      selectionMode="single"
      [paginator]="(moviesList$ | async).length > 5"
      [tableStyle]="{ 'min-width': '100%' }">
      <ng-template pTemplate="header">
          <tr>
            <th>Id</th>
            <th>Titulo</th>
            <th class="text-center">Año de estreno</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-movie>
          <tr [pSelectableRow]="movie">
            <td>{{ movie.id }}</td>
            <td>{{ movie.title }}</td>
            <td class="text-center">{{ movie.release_date | date: 'yyyy' }}</td>
          </tr>
      </ng-template>
    </p-table>
    <!-- <p-paginator (onPageChange)="onPageChange($event)" [rows]="10" [totalRecords]="6" [rowsPerPageOptions]="[10, 20, 30]"></p-paginator> -->
  </div>
</app-page-body>